* {
	margin: 0;
}
body {
	background-color: #525564;
	background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* game container => used for spacing */
#container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-family: "Fascinate", cursive;
	margin-bottom: 2vh;
	font-size: 3rem;
	color: #fef6eb;
}

#start-button {
	background-color: #beb9b5;
	font-family: "Open Sans", sans-serif;
	margin-top: 2vh;
	padding: 0.5vh 1.5vw 0.5vh 1.5vw;
	font-size: 1.2rem;
	border-radius: 5%;
}

/* game board table */
#board td {
	background-color: #74828f5d;
	width: 60px;
	height: 60px;
	border: solid 1px whitesmoke;
}

/* pieces are div within game table cells: draw as colored circles */
.piece {
	/* size */
	width: 52px;
	height: 52px;
	/* center */
	position: absolute;
	margin-left: 4px;
	transform: translateY(-26px);
	/* shape */
	border-radius: 100%;
}

/* Animate pieces falling down according to row */
#board tr:nth-child(2) .piece {
	animation: slide-down-0 0.17s;
}
#board tr:nth-child(3) .piece {
	animation: slide-down-1 0.33s;
}
#board tr:nth-child(4) .piece {
	animation: slide-down-2 0.5s;
}
#board tr:nth-child(5) .piece {
	animation: slide-down-3 0.66s;
}
#board tr:nth-child(6) .piece {
	animation: slide-down-4 0.83s;
}
#board tr:nth-child(7) .piece {
	animation: slide-down-5 1s;
}
@keyframes slide-down-0 {
	from {
		transform: translateY(-92px);
	}
	to {
		transform: translateY(-26px);
	}
}
@keyframes slide-down-1 {
	from {
		transform: translateY(-158px);
	}
	to {
		transform: translateY(-26px);
	}
}
@keyframes slide-down-2 {
	from {
		transform: translateY(-224px);
	}
	to {
		transform: translateY(-26px);
	}
}
@keyframes slide-down-3 {
	from {
		transform: translateY(-290px);
	}
	to {
		transform: translateY(-26px);
	}
}
@keyframes slide-down-4 {
	from {
		transform: translateY(-356px);
	}
	to {
		transform: translateY(-26px);
	}
}
@keyframes slide-down-5 {
	from {
		transform: translateY(-422px);
	}
	to {
		transform: translateY(-26px);
	}
}
/* make pieces #96C0CE/#C25B56,  depending on player 1/2 piece */
.player-1 {
	background-color: #96c0ce;
}

.player-2 {
	background-color: #c25b56;
}

/* column-top is table row of clickable areas for each column */
#column-top td {
	border: dashed 1px lightgray;
}
#column-top td .piece {
	visibility: hidden;
}

#column-top td:hover .player-1 {
	visibility: visible;
	background-color: #96c0ce;
}

#column-top td:hover .player-2 {
	visibility: visible;
	background-color: #c25b56;
}
