* {
	margin: 0;
}
body {
	background-color: #525564;
	background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* game container => used for spacing */
#container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-family: "Fascinate", cursive;
	margin-bottom: 2vh;
	font-size: 3rem;
	color: #fef6eb;
}

#start-button {
	background-color: #beb9b5;
	font-family: "Open Sans", sans-serif;
	margin-top: 2vh;
	padding: 0.5vh 1.5vw 0.5vh 1.5vw;
	font-size: 1.2rem;
	border-radius: 5%;
}

/* game board table */
#board td {
	background-color: #74828f5d;
	width: 60px;
	height: 60px;
	border: solid 1px whitesmoke;
}

/* pieces are div within game table cells: draw as colored circles */
.piece {
	margin: 5px;
	width: 80%;
	height: 80%;
	border-radius: 100%;
}

/* make pieces #96C0CE/#C25B56,  depending on player 1/2 piece */
.player-1 {
	background-color: #96c0ce;
}

.player-2 {
	background-color: #c25b56;
}

/* column-top is table row of clickable areas for each column */
#column-top td {
	border: dashed 1px lightgray;
}
#column-top td .piece {
	visibility: hidden;
}

#column-top td:hover .player-1 {
	visibility: visible;
	background-color: #96c0ce;
}

#column-top td:hover .player-2 {
	visibility: visible;
	background-color: #c25b56;
}
